/*** GLOBAL STYLES ***/

html,
body {
  margin: 0;
  padding: 0;
	font-family: 'lato', sans-serif;
}

div {
  box-sizing: border-box;
}

h1, h2, h3, h4 {
	font-family: 'Roboto', sans-serif;
}

h3 {
  color: #073059;
	font-family: roboto;
	font-size: 28px;
	font-weight: 600;
	line-height: 30px;
	display: inline-block;
	margin: 20px 0 0 0;
}

h4 {
  color: #073059;
  font-size: 18px;
}

h5 {
  font-size: 14px;
  line-height: 20px;
}

p {
	font-size: 16px;
	line-height: 24px;
}

a {
  color: #4592f6;
  font-weight: 600;
  overflow-wrap: break-word;
}

a:hover {
	opacity: .8;
	cursor: pointer;
}

ul {
  padding: 0 0 0 20px;
  margin: 20px 0 40px 0;
}

ul li {
  color: #000;
  font-size: 14px;
  font-weight: 400;
  line-height: 26px;
  list-style: none;
}

ul li::before {
	color: #fdc100;
	font-size: 1em;
	content: "\2022";
	font-weight: bold;
	display: inline-block;
	width: 1em;
	position: relative;
}

ol li {
  color: #000;
  font-size: 14px;
  font-weight: 400;
  line-height: 26px;
}

img {
  max-width: 100%;
}

hr {
  width: 50%;
  height: 3px;
  background: #fdc100;
  border: 0;
  margin: 30px auto;
}

table {
  border-collapse: collapse;
  font-size: 14px;
}

table th,
table td {
  padding: 10px;
  border: 1px solid #ccc;
}

.max-width {
  max-width: 1280px;
  margin: 0 auto;
  padding: 0 20px;
}

.button a {
	background: #4592f6;
	color: #fff;
	font-size: 16px;
	font-weight: 400;
	line-height: 24px;
  text-decoration: none;
	padding: 8px 20px;
	margin: 5px 0 5px 0;
	display: inline-block;
}

.logo {
  width: calc(100% + 40px);
  height: 57px;
  background: #073059;
  text-align: left;
  margin: 0px -20px 30px -20px;
  padding: 20px;
}

.logo img {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  border: 1px solid #ccc;
}

@media screen and (max-width: 768px) {

  p {
  	font-size: 16px;
  	line-height: 24px;
  }

  li {
  	font-size: 14px;
  	line-height: 24px;
  }

}

/*** BACK TO TOP BUTTON ***/

.btt {
  position: fixed;
  right: 10px;
  bottom: 10px;
  cursor: pointer;
  width: 40px;
  height: 40px;
  background-color: #4592f6;
  text-indent: -9999px;
  display: none;
  -webkit-border-radius: 60px;
  -moz-border-radius: 60px;
  border-radius: 60px;
  z-index: 2;
}

.btt span {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-left: -8px;
  margin-top: -12px;
  height: 0;
  width: 0;
  border: 8px solid transparent;
  border-bottom-color: #ffffff;
}

.btt:hover {
  opacity: 1;
}

/*** MAIN BANNER ***/

#main-banner {
	background: url(../img/header.jpg) no-repeat;
  position: relative;
  background-position: center;
  background-size: cover;
	width: 100%;
	display: block;
}

#main-banner-logo {
	padding: 40px 0 0 0;
}

#main-banner-logo img {
  max-width: 180px;
  display: block;
}

#main-banner-title {
  padding: 60px 0;
}

#main-banner-title-outter-wrap {
	width: 100%;
  max-width: 1280px;
	height: 100%;
	display: table;
	margin: 0 auto;
  padding: 0;
}

#main-banner-title-inside-wrap {
	display: table-cell;
	vertical-align: middle;
	max-width: 1160px;
	margin: 0 auto;
}

#main-banner-title p {
  color: #e62438;
  font-family: lato;
  font-size: 24px;
  text-transform: uppercase;
  font-weight: 600;
  margin: 0 0 10px 0;
}

#main-banner-title h1 {
	color: #4592f6;
  font-family: roboto condensed;
	font-size: 62px;
	font-weight: 700;
	line-height: 54px;
  margin: 0 0 10px 0;
}

#main-banner-title h2 {
	color: #073059;
  font-size: 28px;
	font-weight: 400;
  margin: 0;
}

@media screen and (max-width: 768px) {

  #main-banner-title-inside-wrap {
    text-align: center;
    padding: 0 40px;
  }

  #main-banner-logo img {
    margin: 0 auto;
  }

	#main-banner-title {
    padding: 60px 0;
  }

  #main-banner-title h1 {
    font-size: 42px;
    line-height: 44px;
  }

  #main-banner-title h2 {
    font-size: 21px;
    line-height: 26px;
  }

}

/*** MESSAGE ***/

#message {
	background: #073059;
	color: #fff;
	margin: 0;
	padding: 2px 0 40px 0;
	position: relative;
}

#message p {
	font-size: 16px;
	line-height: 24px;
}

#message span {
	color: #4592f6;
	font-size: 32px;
  font-weight: 300;
  line-height: 1px;
  top: 10px;
  position: relative;
}

#message .show-hide {
	position: absolute;
	bottom: 20px;
}

#message a.show-hide {
  color: #4592f6;
  font-weight: 300;
  text-transform: uppercase;
}

#message .read-more-content span {
  display: inline-block;
}

/*** TABS ***/

#tab-nav {
	width: 100%;
	margin: 0;
	padding: 0;
	text-align: center;
	list-style: none;
	display: table;
	background: #4592f6;
}

.tab-link {
	width: calc(100%/8);
	background: #4592f6;
	color: #fff;
	font-size: 14px;
	font-weight: 600;
	line-height: 18px;
	text-transform: uppercase;
	display: table-cell;
	vertical-align: middle;
	padding: 15px 10px;
	margin: 0;
	cursor: pointer;
	border-left: 1px solid #fff;
	border-right: 1px solid #fff;
	border-collapse: separate;
}

.tab-link:hover {
	background: #fdc100;
	color: #fff;
}

.tab-link.current {
	background: #fdc100;
	color: #fff;
	position: relative;
}

.tab-link.current:after{
	content: '';
	position: absolute;
	top: 100%;
	left: 0;
	right: 0;
	margin: 0 auto;
	width: 0;
	height: 0;
	z-index: 0;
	border-top: solid 15px #fdc100;
	border-left: solid 15px transparent;
	border-right: solid 15px transparent;
}

.tab-link.current:hover {
	opacity: 1;
	cursor: default;
}

.tab-content {
	background: #f1f1f1;
	display: none;
	padding: 40px 0 40px 0;
}

.tab-content.current {
	display: inherit;
}

.tab-link:first-of-type {
	border-left: 0;
}

.tab-link:last-of-type {
  border-right: 0;
}

@media screen and (max-width:768px) {

	#tab-nav {
		display: inline-block;
		padding: 0;
	}

	#tab-nav .max-width {
		padding: 0;
	}

	.tab-link {
		width: 100%;
		display: inline-block;
		margin-bottom: 0px;
		border: 0;
		border-bottom: 1px solid #fff;
	}

	.tab-link.current:after {
		display: none;
	}

}

/*** ROWS ***/

.rows {
  margin: 0 auto;
  -moz-column-count: 2;
  -webkit-column-count: 2;
  column-count: 2;
  -moz-column-gap: 20px;
  -webkit-column-gap: 20px;
  column-gap: 20px;
}

.row {
  background: #fff;
  width: 100%;
  margin-bottom: 20px;
  box-sizing: border-box;
  padding: 0 20px 20px 20px;
  display: inline-block;
}

@media screen and (max-width: 768px) {

  .rows {
    -moz-column-count: 1;
    -webkit-column-count: 1;
    column-count: 1;
    -moz-column-gap: 0;
    -webkit-column-gap: 0;
    column-gap: 0;
  }

  .row-spacer {
    display: none;
  }

}

/*** COLUMNS ***/

.column-1-1 {
  width: 100%;
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: center;
}

.column-1-2 {
  flex-basis: 50%;
}

.column-1-3 {
  flex-basis: 33.3333%;
}

.column-1-4 {
  flex-basis: 25%;
}

.column-3-4 {
  flex-basis: 75%;
}

.column-1-1 ul {
  padding: 0 20px 0 0;
}

@media screen and (max-width: 768px) {

  .column-1-2,
  .column-1-3,
  .column-1-4,
  .column-3-4 {
    flex-basis: 100%;
  }

  .column-1-1 ul {
    padding: 0;
  }

}

/*** CONTACT ***/

.contact {
  background: #f1f1f1;
  padding: 10px;
}

.contact h4 {
  margin: 0;
}

.contact h5 {
  margin: 0;
}

/*** VIDEOS ***/

#modal-bg {
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 3;
}

.thumbnail {
  position: relative;
  text-align: center;
  display: table;
  background: orange;
  font-size: 0;
  margin: 0 auto;
}

.thumbnail:before {
  position: absolute;
  font-family: 'Font Awesome 5 Free';
  font-size: 38px;
  content: "\f144";
  right: 0;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  color: #fff;
}

.thumbnail:hover {
  cursor: pointer;
  opacity: .8;
}

.modal-block {
  width: auto;
  width: 600px;
  max-width: 90vw;
  height: auto;
  max-height: 90vh;
  text-align: left;
  background: #fff;
  padding: 20px;
  margin: 0 auto;
  position: fixed;
  left: 0;
  right: 0;
  z-index: 3;
  top: 50%;
  transform: translateY(-50%);
  -webkit-box-shadow: 0px 10px 20px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px 10px 20px 0px rgba(0,0,0,0.75);
  box-shadow: 0px 10px 20px 0px rgba(0,0,0,0.75);
}

.modal-block-close {
  width: 40px;
  height: 40px;
  background: #31ac5a;
  color: #fff;
  position: absolute;
  top: -25px;
  right: -35px;
  font-size: 16px;
  line-height: 40px;
  text-transform: uppercase;
  text-align: center;
  border-radius: 50%;
  margin: 2px 15px 0 0;
  z-index: 4;
  display: inline-block;
}

.modal-block-close:hover {
  background: #fdc100;
  cursor: pointer;
}

.video-wrap {
  max-width: 600px;
  max-height: 90vh;
  margin: 0 auto;
}

.video {
  position: relative;
  padding-bottom: 56.25%;
  height: 0;
  overflow: hidden;
}

.video iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  max-height: 100%;
  z-index: 1;
}

/*** TAB INDUSTRY ***/

#tab-industry .column-1-4,
#tab-updates .column-1-4 {
  text-align: center;
  padding: 0 5px;
}

@media screen and (max-width: 768px) {

  #tab-industry .column-1-4,
  #tab-updates .column-1-4 {
    text-align: left;
    padding: 0;
  }

  #tab-industry .column-1-4 h5,
  #tab-updates .column-1-4 h5 {
    margin-bottom: 0;
  }

}

/*** TAB KIT ***/

#kit-links {
  margin: 20px -10px 0 -10px;
}

#kit-links .column-1-2 {
  padding: 10px;
}

#kit-links a {
  font-size: 14px;
  line-height: 20px;
}

/*** ACCORDION ***/

.accordion {
  margin: 20px auto;
  width: 100%;
}

.accordion-section {
  position: relative;
}

.accordion-title {
  background: #4592f6;
  color: #fff;
  cursor: pointer;
  display: block;
  padding: 15px 40px 15px 20px;
  position: relative;
  text-align: left;
  border-bottom: 1px solid #fff;
}

.accordion-title::after {
  width: 8px;
  height: 8px;
  border-right: 2px solid #fff;
  border-bottom: 2px solid #fff;
  position: absolute;
  right: 20px;
  content: " ";
  top: 50%;
  transform: translateY(-50%) rotate(-45deg);
  transition: all 0.2s ease-in-out;
}

.accordion-title.active::after {
  right: 18px;
  top: 50%;
  transform: translateY(-50%) rotate(45deg);
  transition: all 0.2s ease-in-out;
}

.accordion-title:hover,
.accordion-title.active {
	background: #fdc100;
}

.accordion-content {
  display: none;
  margin: 0;
  padding: 20px;
  text-align: left;
  background: rgba(255,255,255,.6);
  border: 1px solid #ccc;
  border-top: 0;
}

.accordion-content::after {
  clear: both;
}

.accordion-content p {
  color: #000;
}

.accordion hr {
  height: 1px;
  background: #ccc;
  border: 0;
}

@media screen and (max-width: 768px) {

  .accordion-content p {
    width: 100%;
    box-sizing: border-box;
  }

}

/*** FORMS ***/

body {
	margin: 0;
}

form.form {
	font-family: arial, sans-serif;
	margin: 0;
	padding: 0;
}

form.form p {
	margin: 3px 0;
	padding: 3px 0;
}

form.form input {
	padding: 10px 5px;
	font-family: lato;
	font-weight: normal;
	font-size: 14px;
	color: #000;
	margin-bottom: 5px;
	-webkit-appearance: none;
	-moz-appearance: none;
	border-radius: 0;
	border: 1px solid #ccc;
}

form.form input.text {
	width: 100%;
	box-sizing: border-box;
}

form.form select {
	font-family: lato, sans-serif;
	font-weight: normal;
	border-radius: 0;
	height: 40px;
	width: 100%;
	border-radius: 0;
	border: 1px solid #ccc;
	padding: 10px 3px;
	font-size: 14px;
	color: #000;
	margin-bottom: 7px;
  background: #fff url(../img/form-select.jpg) no-repeat;
	background-size: 30px;
	background-position: right 0px center;
	-webkit-appearance: none;
	-moz-appearance: none;
	box-sizing: border-box;
}

form.form select option {
	padding: 0;
}

form.form textarea.standard {
	padding: 12px 7px;
	width: 100%;
	height: 170px;
	border: 1px solid #ccc;
	font-family: lato, sans-serif;
	font-weight: normal;
	font-size: 14px;
	color: #000;
	box-sizing: border-box;
	margin-bottom: 10px;
}

form.form p.submit {
	margin: 0;
	padding: 0;
	text-align: left;
}

form.form p.submit:hover {
	opacity: .8;
	cursor: pointer;
}

form.form p.submit input {
	margin: 3px auto 0 auto;
	padding: 9px 20px;
	background: #4592f6;
	color: #fff;
	border: 0;
	font-family: lato, sans-serif;
	font-size: 18px;
	font-weight: 600;
	-webkit-appearance: none;
	-moz-appearance: none;
	border-radius: 0;
}

form.form p.error.no-label {
	text-align: left;
	width: 100%;
	margin: -8px 0 5px 0;
	font-size: 12px;
}

p.pd-text label, p.pd-select label, p.pd-textarea label {
	display: none !important;
}

form.form p label {
	color: #000000;
}

/*** TRANSLATE ***/

#translate {
  width: 100%;
  text-align: center;
  padding: 40px;
}

/*** FOOTER ***/

#footer {
  width: 100%;
  background: #073059;
}

#footer a:hover {
  opacity: .8;
}

.footer-wrap {
  width: 100%;
  display: table;
  vertical-align: middle;
	padding: 20px 20px 0 20px;
}

#footer-left,
#footer-center,
#footer-right {
  width: 33.33%;
  display: table-cell;
  vertical-align: middle;
	text-align: center;
}

#footer-left img {
  width: 100%;
  max-width: 200px;
}

#footer-center img {
  max-height: 25px;
  margin: 0 10px;
}

#footer-right {
	color: #fff;
	font-size: 12px;
}

#footer-bottom p {
  width: 100%;
  display: inline-block;
	text-align: center;
	color: #fff;
	font-size: 10px;
  line-height: 14px;
  margin: 5px;
}

#footer-bottom a {
	color: #fff;
}

@media screen and (max-width: 768px) {

  #footer-left,
  #footer-center {
    width: 50%;
    display: inline-block;
    float: left;
  }

  #footer-center img {
    max-height: 20px;
  }

  #footer-right {
    width: 100%;
    display: inline-block;
    float: left;
  }

}

@media screen and (max-width: 468px) {

  #footer-left,
  #footer-center {
    width: 100%;
    display: inline-block;
    float: left;
  }

  #footer-left {
    margin: 20px auto 10px auto;
  }

}
